.footer {
  padding: 76px 0 63px 0;
  text-align: center;
}

.footer_logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.footer_navigation_list {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
  }
}
.footer_navigation_list_item {
  font-size: 14.3px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: $footer-text-color;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.footer_navigation_list_link {
  text-decoration: none;
  color: $footer-text-color;
  &:hover,
  &:focus {
    color: $accent-text-color;
  }
  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
  }
}
.footer_navigation_list_item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 61px;
    }
  }
}

.footer_sosial_links {
  display: flex;
  justify-content: center;
}

.footer_sosial_links a {
  display: block;
  justify-content: center;
  text-decoration: none;
}
.facebook_link {
  width: 22px;
  height: 23px;
  background: url(../images/sprite_png.png) -160px -52px;
  background-repeat: no-repeat;
}

.youtube_link {
  width: 30px;
  height: 22px;
  background: url(../images/sprite_png.png) -160px -10px;
  background-repeat: no-repeat;
}
.footer_copyright {
  text-decoration: none;
}

.footer_sosial:not(:last-child) {
  margin-right: 14px;
}

.trevent_text {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: $footer-text-color;
}

.geral_text {
  font-size: 12px;
  line-height: 1.2;
  text-transform: none;
  color: $footer-text-color;
}

.onca_text {
  font-size: 12px;
  line-height: 1.2;

  text-transform: uppercase;
  color: $footer-text-color;
}
